<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Leaf Disease Detection</title>
    <link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>
    <h1 class="container">Plant Leaf Disease Detection</h1>
    <h2 class="con" >Select a vegetable:</h2>
    <a href="{{ url_for('run_potato_app') }}">Potato</a>
    <a href="{{ url_for('run_tomato_app') }}">Tomato</a>
    <!-- Add links for other vegetables if needed -->
</body>
</html>
